@model CheckPatientViewModel

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col">
                        <div class="py-5">
                            <h4>Создание договора</h4>
                            <div class="text-danger" asp-validation-summary="All" />
                            <form method="post" class="form-group" enctype="multipart/form-data">
                                <div class="col-4 form-floating mb-3">
                                    <input type="text" class="form-control" name="@Model.LastName" placeholder="Фамилия">
                                    <label for="floatingInput">Фамилия</label>
                                    <span asp-validation-for="LastName"></span>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Patient" asp-action="Confirm">Создать договор</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="text-danger">
                    Такой записи не существует
                </div>
            }
        </div>
    </div>
</div>