@using HelpersDTO.AppointmentDto.Enums
<div class="list-group">
    <a class="list-group-item" asp-area="Admin" asp-controller="CallCenter" asp-action="Appointments" asp-route-statuses="@(new[] { StatusEnum.BookedByUser } )" asp-route-name="@Model">Записи</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="CallCenter" asp-action="Doctors" asp-route-name="@Model">График врачей</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="CallCenter" asp-action="GetSchedule">Рассписание на сегодня</a>
</div>