<div class="list-group">
    <a class="list-group-item" asp-area="Admin" asp-controller="CallCenter" asp-action="NewAppointments" asp-route-name="@Model">Новые записи</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="CallCenter" asp-action="Doctors" asp-route-name="@Model">График врачей</a>
</div>