<div style=" padding:20px; color:red">
    <h3>
        Извините, что-то пошло не так....
    </h3>
    <h6>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home")</h6>
    <br />
    <br />
</div>   